n8n/admin-bot-workflow.json
{
  "name": "Party House - Admin Bot (Telegram nativo + OpenAI HTTP + Supabase HTTP)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [200, 400],
      "notes": "Seleccioná la credencial 'PartyHouse Bot' del dropdown tras importar."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ ['7360106479'].includes(String($json.message.from.id)) }}",
              "value2": true
            }
          ]
        }
      },
      "name": "¿Admin autorizado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [420, 400],
      "notes": "Para sumar admins, editá el array: ['7360106479', 'OTRO_ID', ...]"
    },
    {
      "parameters": {
        "chatId": "={{$json['message']['chat']['id']}}",
        "text": "⛔ No tienes permiso para usar este bot."
      },
      "name": "Rechazar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [640, 560],
      "notes": "Seleccioná la credencial 'PartyHouse Bot' del dropdown tras importar."
    },
    {
      "parameters": {
        "functionCode": "// Arma el body del pedido a OpenAI y preserva info del mensaje.\n// Tolera mensajes sin texto (sticker/foto/voz) — responde con help.\nconst msg = $json.message || {};\nconst userText = (msg.text || '').trim();\nconst chat_id = msg.chat && msg.chat.id;\n\nconst systemPrompt = [\n  'Sos un asistente para el admin de Party House.',\n  'Extraé del mensaje los datos del invitado que el admin quiere crear.',\n  'Responde SIEMPRE con JSON puro, sin markdown. Usá uno de estos 3 formatos:',\n  '1) Si hay datos suficientes (al menos first_name):',\n  '   {\"action\":\"create_code\",\"first_name\":\"...\",\"last_name\":\"...\",\"email\":\"...\",\"phone\":\"...\"}',\n  '2) Si falta información:',\n  '   {\"action\":\"ask\",\"message\":\"Pedile al usuario lo que falta\"}',\n  '3) Si el mensaje no es una orden válida:',\n  '   {\"action\":\"help\",\"message\":\"Ejemplo: crea código para Juan Pérez, juan@example.com, +5255123456\"}'\n].join('\\n');\n\nconst body = {\n  model: 'gpt-4o-mini',\n  temperature: 0,\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userText || 'hola' }\n  ]\n};\n\nreturn [{ json: { chat_id, userText, openai_body: body } }];"
      },
      "name": "Preparar pedido OpenAI",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [640, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}",
        "options": {}
      },
      "name": "OpenAI (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 320],
      "notes": "Abrí el nodo y seleccioná la credencial 'OpenAI Horizon' del dropdown."
    },
    {
      "parameters": {
        "functionCode": "// Parsea la respuesta de OpenAI (formato estándar chat completions)\n// y construye el código si hay datos suficientes.\nconst EVENT_ID = 'bdf59dc5-a260-4be9-99b4-81450982c8d6';\n\nconst prepItems = $items('Preparar pedido OpenAI');\nconst prep = (prepItems && prepItems[0] && prepItems[0].json) || {};\nconst chat_id = prep.chat_id;\n\nlet aiContent = '';\ntry {\n  aiContent = $json.choices && $json.choices[0] && $json.choices[0].message\n    ? $json.choices[0].message.content\n    : '';\n} catch (e) {\n  aiContent = '';\n}\n\nlet ai = {};\ntry { ai = JSON.parse(aiContent || '{}'); }\ncatch (e) {\n  ai = { action: 'help', message: 'No pude entender. Probá: \"crea código para Juan Pérez, juan@example.com\"' };\n}\n\nif (ai.action !== 'create_code' || !ai.first_name) {\n  const helpMsg = ai.message || 'No entendí. Probá: \"crea código para Juan Pérez, juan@example.com\"';\n  return [{ json: { needs_reply: true, chat_id, text: helpMsg } }];\n}\n\nconst clean = (s) => String(s || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[^A-Za-z0-9]/g, '').toUpperCase();\nconst firstPart = clean(ai.first_name).slice(0, 6) || 'GUEST';\nconst lastPart  = clean(ai.last_name).slice(0, 3);\nconst digits    = String(Math.floor(Math.random() * 9000) + 1000);\nconst code      = lastPart ? `${firstPart}-${lastPart}-${digits}` : `${firstPart}-${digits}`;\n\nreturn [{ json: {\n  needs_reply: false,\n  chat_id,\n  first_name: ai.first_name,\n  last_name:  ai.last_name || '',\n  email:      ai.email || null,\n  phone:      ai.phone || null,\n  event_id:   EVENT_ID,\n  code\n}}];"
      },
      "name": "Construir código",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1080, 320]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{$json.needs_reply}}", "value2": true }] }
      },
      "name": "¿Falta info?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1300, 320]
    },
    {
      "parameters": {
        "chatId": "={{$json.chat_id}}",
        "text": "={{$json.text}}"
      },
      "name": "Responder ayuda",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1520, 460],
      "notes": "Seleccioná la credencial 'PartyHouse Bot' del dropdown tras importar."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pvdrbkvafmlqoylbwsxh.supabase.co/rest/v1/guests?on_conflict=email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2ZHJia3ZhZm1scW95bGJ3c3hoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjM3NDAzNywiZXhwIjoyMDkxOTUwMDM3fQ.dP2xizMDcV1KZgzb3DUXImyj2Kx3Oo2glFKELmxlRqg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2ZHJia3ZhZm1scW95bGJ3c3hoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjM3NDAzNywiZXhwIjoyMDkxOTUwMDM3fQ.dP2xizMDcV1KZgzb3DUXImyj2Kx3Oo2glFKELmxlRqg" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ first_name: $json.first_name, last_name: $json.last_name, email: $json.email, phone: $json.phone }) }}",
        "options": {}
      },
      "name": "Supabase: upsert guest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pvdrbkvafmlqoylbwsxh.supabase.co/rest/v1/access_codes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2ZHJia3ZhZm1scW95bGJ3c3hoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjM3NDAzNywiZXhwIjoyMDkxOTUwMDM3fQ.dP2xizMDcV1KZgzb3DUXImyj2Kx3Oo2glFKELmxlRqg" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB2ZHJia3ZhZm1scW95bGJ3c3hoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjM3NDAzNywiZXhwIjoyMDkxOTUwMDM3fQ.dP2xizMDcV1KZgzb3DUXImyj2Kx3Oo2glFKELmxlRqg" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ code: $items('Construir código')[0].json.code, event_id: $items('Construir código')[0].json.event_id, guest_id: $json.id, status: 'active' }) }}",
        "options": {}
      },
      "name": "Supabase: insert access_code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 220]
    },
    {
      "parameters": {
        "chatId": "={{$items('Construir código')[0].json.chat_id}}",
        "text": "=✅ Código generado\n\n👤 {{$items('Construir código')[0].json.first_name}} {{$items('Construir código')[0].json.last_name}}\n🎟 Código: {{$items('Construir código')[0].json.code}}\n\nCompartilo con el invitado — lo ingresa en la landing para pagar y recibir su QR.",
        "additionalFields": {}
      },
      "name": "Responder con código",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1960, 220],
      "notes": "Seleccioná la credencial 'PartyHouse Bot'. Texto plano (sin Markdown) para evitar errores 400 con nombres que tengan _ * ` [."
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "¿Admin autorizado?", "type": "main", "index": 0 }]]
    },
    "¿Admin autorizado?": {
      "main": [
        [{ "node": "Preparar pedido OpenAI", "type": "main", "index": 0 }],
        [{ "node": "Rechazar", "type": "main", "index": 0 }]
      ]
    },
    "Preparar pedido OpenAI": {
      "main": [[{ "node": "OpenAI (HTTP)", "type": "main", "index": 0 }]]
    },
    "OpenAI (HTTP)": {
      "main": [[{ "node": "Construir código", "type": "main", "index": 0 }]]
    },
    "Construir código": {
      "main": [[{ "node": "¿Falta info?", "type": "main", "index": 0 }]]
    },
    "¿Falta info?": {
      "main": [
        [{ "node": "Responder ayuda", "type": "main", "index": 0 }],
        [{ "node": "Supabase: upsert guest", "type": "main", "index": 0 }]
      ]
    },
    "Supabase: upsert guest": {
      "main": [[{ "node": "Supabase: insert access_code", "type": "main", "index": 0 }]]
    },
    "Supabase: insert access_code": {
      "main": [[{ "node": "Responder con código", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "tags": ["partyhouse", "admin-bot"]
}
